transformers~=2.3.0
torch==1.5.0
torchvision==0.6.0
#pytorch~=1.5.0
scipy~=1.4.1
pandas~=1.1.5
numpy~=1.19.5
scikit-learn~=0.23.2
matplotlib~=3.3.4
ipython~=7.22.0
spacy~=3.0.5
nltk~=3.6.1
tqdm~=4.62.2